.navbar {
    background: rgba(248, 248, 248, 1);
}

.navbar-nav li {
    margin: 0 15px;
}

.navbar-nav .nav-link {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: black !important;
}

.navbar-scrolled {
    background: rgba(248, 248, 248, 1);
    padding: 15px;
}

/* .navbar-scrolled .navbar-nav .nav-link,
    .navbar-scrolled {
        color: rgba(152, 161, 227, 1);
} */

.input-bg {
    background: rgba(244, 244, 244, 1);
}

.form-control:focus {
    box-shadow: none;
}

#hero {
    height: 100vh;
}

#privacy-hero {
    height: 100vh;
    background: url(/assets/img/privacy-hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.signin-btn {
    background: rgba(245, 190, 78, 1);
}

.signin-btn:hover {
    background: rgba(245, 190, 78, 1);
}

.signup-btn {
    background: rgba(86, 90, 221, 1);
}

.signup-btn:hover {
    background: rgba(86, 90, 221, 1);
}

.generate-btn {
    background: var(--Sapphire-700, rgba(58, 91, 187, 1));
}

.generate-btn:hover {
    background: var(--Sapphire-700, rgba(58, 91, 187, 1));
}



.learn-more-btn {
    background: var(--Sapphire-950, rgba(32, 42, 75, 1));
}

.learn-more-btn:hover {
    background: var(--Sapphire-950, rgba(32, 42, 75, 1));
}

.nav-pills .nav-link {
    background: rgba(232, 232, 232, 0.5);
    color: black;
}

.nav-pills .nav-link.active {
    background: var(--Sapphire-700, rgba(58, 91, 187, 1));
}

.future-proof-bg {
    background: rgb(1, 1, 36);
}

.bg-dark {
    background: rgba(0, 0, 0, 1) !important;
}

.bg-blue {
    background: var(--Sapphire-700, rgba(58, 91, 187, 1));
}

.bg-dark-blue {
    background: var(--Sapphire-950, rgba(32, 42, 75, 1));
}

.lightblue-bg {
    background: rgba(239, 240, 255, 1);
}

.main-heading {
    font-family: "Poppins", sans-serif;
    font-size: 55px;
    font-weight: 700;
}

.heading {
    font-family: "Poppins", sans-serif;
    font-size: 44px;
    font-weight: 700;
}

.description {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.subdescription {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.label-heading {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
}

.description-lineheight {
    line-height: 40px;
}

.blue-txtcolor {
    color: rgba(58, 91, 187, 1);
}

.darkblue-txtcolor {
    color: rgba(27, 55, 100, 1);
}

.card-shadow {
    box-shadow: 0px 4px 5.6px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px -4px 5.6px 0px rgba(0, 0, 0, 0.25);
}

.card-shadow-2 {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}

.ratings-card {
    background: rgba(249, 246, 246, 1);
}

.services-fluid {
    margin-bottom: 50vh;
}

.services-card-section {
    position: absolute;
    top: -230px;
}

.services-fluid .card {
    background: rgba(245, 245, 245, 1);
}

.testimonial-card {
    background: var(--Sapphire-50, rgba(241, 246, 253, 1));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-top: 1px solid var(--Border-Default-Default, rgba(217, 217, 217, 1))
}

.stop-writing-code {
    background: url(/assets/img/stop-writing-code.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    bottom: -50px;
    padding: 135px 20px;
    border-radius: 20px;
}

/* Switch button */
/* Remove this container when use*/
.component-title {
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 30px;
    left: 0;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    color: #888;
    text-align: center;
}

/* The switch - the box around the slider */
.container-switch {
    width: 57px;
    height: 31px;
    position: relative;
}

/* Hide default HTML checkbox */
.checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.switch {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #e9e9eb;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

/* The slider */
.slider {
    width: 27px;
    height: 27px;
    position: absolute;
    left: calc(50% - 27px / 2 - 10px);
    top: calc(50% - 27px / 2);
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15),
        0px 3px 1px rgba(0, 0, 0, 0.06);
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.slider::before {
    background: none;
}

.checkbox:checked+.switch {
    background-color: var(--Sapphire-700, rgba(58, 91, 187, 1));
}

.checkbox:checked+.switch .slider {
    left: calc(50% - 27px / 2 + 10px);
    top: calc(50% - 27px / 2);
}

/* Switch Button end */

#footer {
    background: rgba(0, 0, 0, 1);
}

#footer li {
    margin-top: 20px;
}

#footer li a {
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width: 1024px) {
    .main-heading {
        font-size: 48px !important;
    }

    .heading {
        font-size: 37px;
    }

    .description {
        font-size: 20px !important;
    }

    .subdescription {
        font-size: 17px;
    }

    .stop-writing-code {
        bottom: -62px;
        padding: 47px 20px;
        border-radius: 20px;
    }
}

@media(max-width: 768px) {
    .main-heading {
        font-size: 45px !important;
    }

    .heading {
        font-size: 30px;
    }

    .description {
        font-size: 16px !important;
    }

    .subdescription {
        font-size: 17px;
    }

    .stop-writing-code {
        padding: 47px 20px;
        border-radius: 20px;
    }

    .stop-writing-code h5 {
        font-size: 23px !important;
    }

    .services-fluid {
        margin-bottom: 141vh;
    }
}

@media(max-width: 576px) {
    .main-heading {
        font-size: 33px !important;
    }

    .heading {
        font-size: 25px;
    }

    .description {
        font-size: 18px !important;
    }

    .stop-writing-code {
        padding: 47px 9px;
        border-radius: 10px;
    }

    .services-card-section {
        position: relative;
        top: -230px;
    }

    .services-fluid {
        margin-bottom: -35vh;
    }

    #privacy-hero {
        height: 110vh;
    }
}