body {
    background: rgba(248, 248, 248, 1);
}

.navbar-nav li {
    margin: 0 15px;
}

.navbar-nav .nav-link {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 400;
    /* color: black !important; */
}

.navbar-scrolled {
    background: rgba(248, 248, 248, 1);
    padding: 15px;
}

/* .navbar-scrolled .navbar-nav .nav-link,
    .navbar-scrolled {
        color: rgba(152, 161, 227, 1);
} */

#hero {
    height: 100vh;
}

.about-hero {
    background: url(/assets/img/template-images/template-about.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.contact-hero {
    background: url(/assets/img/template-images/template-contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.privacy-hero {
    background: url(/assets/img/template-images/template-privacy.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.outfit-bg {
    background: rgba(241, 241, 241, 1);
}

.card-shadow {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form-control:focus {
    box-shadow: none;
}

.btn {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.main-heading {
    font-family: "Outfit", sans-serif;
    font-size: 67px;
    font-weight: 800;
}

.heading {
    font-family: "Outfit", sans-serif;
    font-size: 65px;
    font-weight: 800;
}

.subheading {
    font-family: "Outfit", sans-serif;
    font-size: 28px;
    font-weight: 500;
}

.contact-heading {
    font-family: "Outfit", sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.description {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.subdescription {
    font-family: "Outfit", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.outfit-img {
    height: 450px;
    width: 162px;
    object-fit: contain;
}

#footer li {
    margin-top: 7px;
}

#footer li a {
    color: black;
    text-decoration: none;
}

.carousel-arrow-left {
    position: absolute;
    top: 39%;
    left: -50px;
}

.carousel-arrow-right {
    position: absolute;
    top: 39%;
    right: -50px;
}

/****************************************************
TEMPLATE 02 CSS
****************************************************/
.navbar-2 .nav-link {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: black;
}

.poppin-heading {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 600;
}

.poppin-subheading {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.poppin-description {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.label {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.poppin-linespace {
    line-height: 30px;
    letter-spacing: 2px;
}

.btn-2 {
    font-family: "Poppins", sans-serif !important;
    font-size: 12px !important;
    font-weight: 500;
}

.contact-left-bg {
    background: rgba(151, 151, 151, 1);
}

.footer-2 {
    background: rgba(245, 245, 245, 1);
}

.footer-2 .subheading {
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 500;
}

.footer-2 li {
    font-family: "Inter", sans-serif;
    font-size: 15px;
}


@media(max-width: 768px) {
    #footer ul {
        font-size: 17px !important;
    }

    .subheading {
        font-size: 20px;
    }

    .heading {
        font-size: 55px;
    }

    .main-heading {
        font-size: 50px;
    }

    .carousel-arrow-left {
        position: absolute;
        top: 39%;
        left: -30px;
    }

    .carousel-arrow-right {
        position: absolute;
        top: 39%;
        right: -30px;
    }

    .poppin-heading {
        font-size: 35px;
    }

    .poppin-description {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .logo {
        width: 224px;
    }

    .main-heading {
        font-size: 34px;
    }

    .carousel-arrow-left {
        position: absolute;
        top: 39%;
        left: -20px;
    }

    .carousel-arrow-right {
        position: absolute;
        top: 39%;
        right: -20px;
    }

    .poppin-heading {
        font-size: 30px;
    }
}

@media(max-width: 375px) {
    .main-heading {
        font-size: 30px;
    }
}

@media(max-width: 375px) {
    .logo {
        width: 190px;
    }

    .main-heading {
        font-size: 25px;
    }
}