/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: rgba(38, 38, 38, 1);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: rgb(245, 245, 245);
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    border-radius: 0 30px 30px 0;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 20px;
    color: white;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.customer-sidebar .navbar .navbar-nav .nav-link {
    font-family: "Inter", sans-serif !important;
    font-weight: 400;
    color: rgba(139, 144, 154, 1);
    border: none;
    margin: 5px 14px;
    border-radius: 5px;
    padding: 12px;
}

.customer-sidebar .navbar .navbar-nav .nav-link:hover,
.customer-sidebar .navbar .navbar-nav .nav-link.active {
    font-family: "Inter", sans-serif !important;
    font-weight: 600;
    color: black;
    border: none;
    background: rgba(243, 244, 248, 1);
}

/* .sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: #FFFFFF;
    border-color: var(--primary);
} */

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* background: #FFFFFF; */
    border-radius: 40px;
}

/* .sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--light);
} */

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding: 10px 45px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border-bottom: 1px solid black;
}

.sidebar .navbar .dropdown-item:hover {
    background: none;
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: black;
    outline: none;
}

/* .content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
} */

.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}

.btn {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.show-filter-btn {
    background: rgba(224, 248, 241, 1);
}

.signin-btn {
    background: rgba(227, 227, 227, 1);
    border: 1px solid var(--Border-Neutral-Secondary, rgba(118, 118, 118, 1));
}

.show-filter-btn:hover {
    background: rgba(224, 248, 241, 1);
}

.module-card {
    background: rgba(224, 248, 241, 1);
}

.website-setting:hover {
    background: rgba(238, 255, 250, 1);
}

.pages-section {
    background: rgba(245, 245, 245, 1);
}

.activity-btn {
    border: 1px solid rgba(32, 81, 229, 1);
    background: rgba(244, 246, 253, 1);
    color: rgba(32, 81, 229, 1);
}

.activity-btn:hover {
    border: 1px solid rgba(32, 81, 229, 1);
    background: rgba(244, 246, 253, 1);
    color: rgba(32, 81, 229, 1);
}

.appointment-btn {
    background: rgba(32, 81, 229, 1);
}

.appointment-btn:hover {
    background: rgba(32, 81, 229, 1);
}

.back-btn {
    background: rgba(225, 232, 240, 1);
}

.back-btn:hover {
    background: rgba(225, 232, 240, 1);
}

.pagination .page-link {
    background: rgba(241, 242, 246, 1);
}

.pagination .page-link.active {
    background: rgba(15, 96, 255, 1);
}

.marketplace-card {
    border: 1px solid var(--Schemes-Outline-Variant, rgba(202, 196, 208, 1));
    background: #FEF7FF;
}

.marketplace-card .badge {
    font-family: "Poppins", sans-serif;
    font-size: 14px !important;
    font-weight: 400;
}

.table {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.green-txtcolor {
    color: rgba(16, 185, 129, 1) !important;
}

.red-txtcolor {
    color: rgba(246, 78, 96, 1);
}

.pink-txtcolor {
    color: rgba(255, 69, 136, 1);
}

.darkgreen-txtcolor {
    color: rgba(25, 195, 50, 1);
}

.purple-txtcolor {
    color: rgba(119, 67, 219, 1);
}

.light-txtcolor {
    color: rgba(181, 181, 195, 1);
}

.blue-txtcolor {
    color: rgba(55, 81, 255, 1);
}

.green-shoes-bg {
    background: url(/dashasset/img/image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 7px;
    height: 160px;
}

.red-shoes-bg {
    background: url(/dashasset/img/nike-white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 7px;
    height: 160px;
}

.light-white-bg {
    background: rgba(248, 244, 255, 1);
}

.light-color-bg {
    background: rgba(243, 246, 249, 1);
}

.customer-dashboard-card .card {
    height: 123px;
}

.blue-card-bg {
    background: linear-gradient(98.86deg, #6BAAFC 0%, #305FEC 100%);
}

.red-card-bg {
    background: linear-gradient(98.86deg, #EF5E7A 0%, #D35385 100%);
}

.pink-card-bg {
    background: linear-gradient(98.86deg, #D623FE 0%, #A530F2 100%);
}

.card-shadow {
    box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.07);
}

.card-shadow-2 {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}

.card-shadow-3 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.badge {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.badge.bg-green {
    background: rgba(0, 182, 122, 1);
}

.badge.bg-blue {
    background: rgba(68, 109, 204, 0.27);
    color: rgba(58, 91, 187, 1);
}

.badge.bg-lightgreen {
    background: rgba(0, 182, 122, 0.25);
    color: rgba(0, 182, 122, 1);
}

.badge.bg-red {
    background: rgba(255, 0, 0, 0.11);
    color: rgba(255, 0, 0, 1);
}

.badge.bg-darkyellow {
    background: rgba(254, 196, 0, 1);
}

.badge.bg-darkgreen {
    background: rgba(41, 204, 151, 1);
}

.badge.bg-grey {
    background: rgba(240, 241, 247, 1);
    color: rgba(159, 162, 180, 1);
}

.bg-yellow {
    background: rgba(255, 198, 0, 0.16);
    color: rgba(255, 198, 0, 1);
}

.bg-yellow:hover {
    background: rgba(255, 198, 0, 0.16);
    color: rgba(255, 198, 0, 1);
}

.skyblue-bg {
    background-color: rgba(215, 249, 239, 1);
}

.welcomeuser-bg{
    background: rgba(194, 233, 255, 1);
}

.main-heading {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 600;
}

.heading {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.customer-heading {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 800;
}

.number-heading {
    font-family: "Inter", sans-serif;
    font-size: 60px;
    font-weight: 600;
}

.trending-heading {
    font-family: "Public Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.subheading {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.customer-subheading {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.description {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    color: rgba(97, 117, 138, 1);
}

.trending-description {
    font-family: "Public Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.subdescription {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.submenu {
    font-family: "Inter", sans-serif !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    color: rgba(139, 144, 154, 1) !important;
}

.input-search .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
}

.search-icon-2 {
    left: 10px !important;
}

.employee-search-icon {
    top: 43% !important;
    left: 10px;
}

.employee-search {
    border: 1px solid rgba(145, 164, 183, 1);
    background: rgba(248, 250, 252, 1);
}

.input-search input {
    width: 250px;
}

.blue-circle {
    position: absolute;
    top: 34%;
    left: 32%;
}

.skyblue-circle {
    position: absolute;
    top: 58%;
    right: 27%;
}

.green-circle {
    position: absolute;
    top: 72%;
    left: 32%;
}

/* Switch */
/* Default */
.theme {
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}

.theme__fill,
.theme__icon {
    transition: 0.3s;
}

.theme__fill {
    background-color: var(--bg);
    display: block;
    mix-blend-mode: difference;
    position: fixed;
    inset: 0;
    height: 100%;
    transform: translateX(-100%);
}

.theme__icon,
.theme__toggle {
    z-index: 1;
}

.theme__icon,
.theme__icon-part {
    position: absolute;
}

.theme__icon {
    display: block;
    top: 0.4em;
    left: 0.4em;
    width: 1.5em;
    height: 1.5em;
}

.theme__icon-part {
    border-radius: 50%;
    box-shadow: 0.4em -0.4em 0 0.5em hsl(0, 0%, 100%) inset;
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
    width: 1em;
    height: 1em;
    transition: box-shadow var(--transDur) ease-in-out,
        opacity var(--transDur) ease-in-out,
        transform var(--transDur) ease-in-out;
    transform: scale(0.5);
}

.theme__icon-part~.theme__icon-part {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.05em;
    top: 50%;
    left: calc(50% - 0.05em);
    transform: rotate(0deg) translateY(0.5em);
    transform-origin: 50% 0;
    width: 0.1em;
    height: 0.2em;
}

.theme__icon-part:nth-child(3) {
    transform: rotate(45deg) translateY(0.45em);
}

.theme__icon-part:nth-child(4) {
    transform: rotate(90deg) translateY(0.45em);
}

.theme__icon-part:nth-child(5) {
    transform: rotate(135deg) translateY(0.45em);
}

.theme__icon-part:nth-child(6) {
    transform: rotate(180deg) translateY(0.45em);
}

.theme__icon-part:nth-child(7) {
    transform: rotate(225deg) translateY(0.45em);
}

.theme__icon-part:nth-child(8) {
    transform: rotate(270deg) translateY(0.5em);
}

.theme__icon-part:nth-child(9) {
    transform: rotate(315deg) translateY(0.5em);
}

.theme__label,
.theme__toggle,
.theme__toggle-wrap {
    position: relative;
}

.theme__toggle,
.theme__toggle:before {
    display: block;
}

.theme__toggle {
    background-color: rgba(226, 232, 240, 1);
    border-radius: 25% / 50%;
    box-shadow: 0 0 0 0.125em var(--primaryT);
    padding: 0.25em;
    width: 4.5em;
    height: 2.2em;
    -webkit-appearance: none;
    appearance: none;
    transition: background-color var(--transDur) ease-in-out,
        box-shadow 0.15s ease-in-out, transform var(--transDur) ease-in-out;
}

.theme__toggle:before {
    background-color: hsl(48, 90%, 55%);
    border-radius: 50%;
    content: '';
    width: 1.7em;
    height: 1.7em;
    transition: 0.3s;
}

.theme__toggle:focus {
    box-shadow: 0 0 0 0.125em var(--primary);
    outline: transparent;
}

/* Checked */
.theme__toggle:checked {
    background-color: hsl(198, 90%, 15%);
}

.theme__toggle:checked:before,
.theme__toggle:checked~.theme__icon {
    transform: translateX(2.3em);
}

.theme__toggle:checked:before {
    background-color: hsl(198, 90%, 55%);
}

.theme__toggle:checked~.theme__fill {
    transform: translateX(0);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(1) {
    box-shadow: 0.2em -0.2em 0 0.2em hsl(0, 0%, 100%) inset;
    transform: scale(1);
    top: 0.2em;
    left: 0.2em;
}

.theme__toggle:checked~.theme__icon .theme__icon-part~.theme__icon-part {
    opacity: 0;
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(2) {
    transform: rotate(45deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(3) {
    transform: rotate(90deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(4) {
    transform: rotate(135deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(5) {
    transform: rotate(180deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(6) {
    transform: rotate(225deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(7) {
    transform: rotate(270deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(8) {
    transform: rotate(315deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(9) {
    transform: rotate(360deg) translateY(0.8em);
}

.theme__toggle-wrap {
    margin: 0 0.75em;
}

@supports selector(:focus-visible) {
    .theme__toggle:focus {
        box-shadow: 0 0 0 0.125em var(--primaryT);
    }

    .theme__toggle:focus-visible {
        box-shadow: 0 0 0 0.125em var(--primary);
    }
}

/* End Switch */

.design-nav li {
    margin: 0 15px;
}

.design-nav .nav-link {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: black !important;
}

/* Tabs Section */
.nav-pills .nav-link {
    border: 1px solid rgba(202, 213, 224, 1);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.nav-pills .nav-link.active {
    border: 1px solid rgba(32, 81, 229, 1);
    background: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

@media(max-width: 1024px) {
    .blue-circle {
        left: 25%;
        top: 36%;
    }

    .skyblue-circle {
        right: 17%;
    }
    
    .green-circle {
        left: 25%;
        top: 70%;
    }
}

@media(max-width: 768px) {
    .input-search input {
        width: 195px;
    }

    .sidebar {
        top: 14%;
    }
}

@media(max-width: 320px) {
    .input-search input {
        width: 143px;
    }
}